body{
    background-color: aliceblue;
}

.flex{
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
}
#whole{
    max-width: 400px;
    margin : auto;
    margin-top: 55px;
    background-color: darkolivegreen;
    border: 2px solid black;
    border-radius: 10%;
}
.button{
    padding: 20px;
    margin: 2px 0;
    border: 2px solid black;
    border-radius: 30px;
    font-size:20px;
    cursor: pointer;

}
.button:hover {background-color: #b5c6c7}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
  }
#first_row{
    margin-left: 15px;
}
#second_row{
    margin-left: 25px;
}
  #fourth_row{
    margin-right: 54px;
}
  
.dis{
    cursor: unset;
     width: 250px;
        height: 40px;
        margin: 15px;
} 
h1{
    text-align: center;
    font-size: 55px;
} 
h3{
    margin-left: 70%;
    font-size: 25px;
}


